{% extends 'master' %}
{% set active_page = "create_review" %}
{% block content %}
{% for error in old('errors') %}
<div class="alert alert-danger">

    <li> {{ error.message }} </li>

</div>
{% endfor %}
{% for scoreError in old('scoreError') %}
<div class="alert alert-danger">

    <li> {{ scoreError.message }} </li>

</div>

{% endfor %}
<div class="content">
  {{ form.open({action: 'ReviewController.store'}) }}

    {{ csrfField }}
 <div class="smallerarea">
    <fieldset class="form-group">
      {{ form.label('Title') }}
      {{ form.text('title', null, { class: 'form-control' }) }}
    </fieldset>

    <fieldset class="form-group">
      <label for="movie_id" class="col-lg-2 control-label">Movie</label>
      <select class="form-control" id="movie_id" name="movie_id">
        {% for movie in movies %}
        <option value="{{ movie.id }}"
          {% if movie.id == old('movie_id') %}
          selected
          {% endif %}
        >{{ movie.title }}</option>
        {% endfor %}
      </select>
    </fieldset>
</div>
    <fieldset class="form-group">
      {{ form.label('Text') }}
     <textarea rows="25" name="content" class="form-control" id="content"></textarea>
    </fieldset>
    <div class="ratings">
  <fieldset class="form-group">
  <div class="centered">
   {{ form.label('Rating (1-5):') }}
   </div>
  <p>  {{ form.label('Sound:') }} <input type="number" name="rating_1" min="1" max="10"> {{form.label('Visuals:') }} <input type="number" name="rating_2" min="1" max="10"> {{form.label('Setting:') }} <input type="number" name="rating_3" min="1" max="10"></p>
  <p> {{form.label('Characters:') }} <input type="number" name="rating_4" min="1" max="10">
 {{form.label('Plot:') }} <input type="number" name="rating_5" min="1" max="10">
  {{form.label('Acting:') }} <input type="number" name="rating_6" min="1" max="10"></p>
    </fieldset>
    </div>
          
    {{ form.submit('Publish', 'publish', { class: 'btn btn-primary btn-block' }) }}
 {{ form.resetButton('Clear','publish', { class: 'btn btn-warning btn-block' })}}
  {{ form.close() }}

  </div>
{% endblock %}