{% extends 'master' %}
{% set active_page = "main" %}

{% block content %}
  
  {% if old('regmessage') %} 
 <div class="alert alert-dismissible alert-success">
  {{ 'Registration successful! Now you can log in.' }}
  </div>
   {% endif %}
  {% if old('errors') %} 
 <div class="alert alert-dismissible alert-danger">
  {{ 'Login failed. Check your credentials!' }}
  </div>
  {% endif %}
  <div class="content">
  <div class="maintext">
    <h2 class="centered">Welcome to MovieReviewer!</h2>
        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
        <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
 
  </div>
  </div>
{% endblock %}