{% extends 'master' %}
{% set active_page = "main" %}

{% block content %}
  
  {% if old('regmessage') %} 
 <div class="alert alert-dismissible alert-success">
  {{ 'Registration successful! Now you can log in.' }}
  </div>
   {% endif %}
  {% if old('errors') %} 
 <div class="alert alert-dismissible alert-danger">
  {{ 'Login failed. Check your credentials!' }}
  </div>
  {% endif %}
  <div class="content">
  <div class="maintext">
    <h2 class="centered">Welcome to MovieReviewer!</h2>
<p> This is a Movie/Film reviewer website! We are still in the early period, so a lot of new features are in the works!</p>
<p> Hope you will enjoy our webpage! Have fun reviewing! :) </p> 
  </div>
  </div>
{% endblock %}