<!doctype html>
    {% set active_page = active_page|default('main') -%}
<html>
<head>
  <meta charset="utf-8">
  <title>MovieReviwer</title>

  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if currentUser %}
      <a class="navbar-brand" href="#">{{ currentUser.username }}</a>
      {% else %} 
      <span class="navbar-brand">Vendég</span>
      {% endif %}

    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul id="navigation" class="nav navbar-nav">
        {% if currentUser %}
        <li {% if active_page == "profile" %} class="active"{% endif
  %}><a href="/profile">My Profile</a></li>
        <li {% if id == active_page %} class="active"{% endif
  %}><a href="/reviews">My Reviews</a></li>
        <li {% if  active_page == "logut" %} class="active"{% endif
  %}><a href="/logout">Logout</a></li>
        {% else %}
        <li {% if  active_page == "login" %} class="active"{% endif
  %}><a href="/login">Login</a></li>
        <li {% if active_page == "register" %} class="active"{% endif
  %}><a href="/register">Register</a></li>
        {% endif %}
       
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li {% if active_page == "main" %} class="active"{% endif
  %}><a href="/">Main <span class="sr-only">(current)</span></a></li>
        <li {% if  active_page == "movies" %} class="active"{% endif
  %}><a href="/movies">Film List</a></li>
      </ul>
    </div>
  </div>
</nav>
<section>
 {% block content %}{% endblock %}
</section>
</body>
</html>
