<!doctype html>
    {% set active_page = active_page|default('main') -%}
<html>
<head>
  <meta charset="utf-8">
  <title>MovieReviewer</title>

  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div id="navbar">
<nav  class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {% if currentUser %}
      <a class="navbar-brand" href="#">{{ currentUser.username }}</a>
      {% else %} 
      <span class="navbar-brand">Vendég</span>
      {% endif %}

    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul id="navigation" class="nav navbar-nav navbar-right">
        {% if currentUser %}
        <li {% if active_page == "profile" %} class="active"{% endif
  %}><a href="/profile/{{currentUser.id}}">My Profile</a></li>
        <li {% if active_page =="reviews" %} class="active"{% endif
  %}><a href="/reviews">My Reviews</a></li>
        <li><a href="/logout">Logout</a></li>

        {% else %}
      <li><a href="/login" id="btn-login">Login</a></li>


        <li {% if active_page == "register" %} class="active"{% endif
         %}><a href="/register">Register</a></li>

        {% endif %}
       
      </ul>

      <ul class="nav navbar-nav navbar">
        <li {% if active_page == "main" %} class="active"{% endif
  %}><a href="/">Main <span class="sr-only">(current)</span></a></li>
        <li {% if  active_page == "movies" %} class="active"{% endif
  %}><a href="/movies">Film List</a></li>
  
      </ul>
    </div>
  </div>
</nav>
</div>
<section>
 {% block content %}{% endblock %}
</section>

    {% if not currentUser %}
    <!-- LOGIN MODAL -->
    <div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="login-modal">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">Belépés</div>
          <div class="modal-body">
            <div class="alert alert-danger">A felhasználónév vagy jelszó nem stimmel!</div>
            <div class="form-area"></div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% if not currentUser %}
    <script src="/scripts/popup-login.js"></script>
    {% endif %}

    {% block scripts %}{% endblock %}
</body>
</html>
