

{% extends 'master' %}
{% set active_page = "movies" %}

{% block content %}
<div class="panel-body">
<h1 class="centered">Movies</h1>
{% if adminaccess %}
<a href="/new_movie" class="btn btn-success btn-lg btn-block">New movie</a>
{% endif %}

<hr>
{% for movie in movies %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <button type="button" class="close">Reviews</button>
    <h3 class="panel-title"> Title: {{ movie.title }}</h3>
  </div>
  <div class="panel-body">
    <p>Director: {{ movie.director }}</p>
    <p>{% for category in categories %}
        {% if category.id == movie.category_id %}
        Category: {{ category.name }}
        {% endif %}
        {% endfor %}
    </p>
    <p>Number of reviews: {{ movie.count }}</p>
    <p>Average Overall Rating: {{ movie.rating}}% </p>
    {% if adminaccess %}
    <p><a href="#" class="btn btn-warning" >Modify</a> <a href="/delete_m/{{movie.id}}" class="btn btn-danger" >Delete</a></p>
    {% endif %}
  </div>
</div>

{% else %}
<h2> No movies found </h2>
{% endfor %}   

</div>
{% endblock %}