

{% extends 'master' %}
{% if currentUser.id == user.id %}
{% set active_page = "profile" %}
{% else %}
{% set active_page = "otherprofile" %}
{% endif %}

{% block content %}
<div class="formu">
<form class="form-horizontal">

{{ csrfField }}


  <fieldset>
    <p> Username: {{ user.username }}</p>
    <p> E-mail: {{ user.email }}</p>
    <p> Number of reviews: {{ number}}</p>
    <hr>
    
   </fieldset>
</form>
</div>
{% endblock %}