{% extends 'master' %}
{% set active_page = "register" %}

{% block content %}
<div class="formu">

 {% for error in old('errors') %}
 <div class="alert alert-dismissible alert-danger">
{{ error.message }}
</div>
   {% endfor %}

{{ form.open({action:'UserController.store'}) }}
 <fieldset>
    <legend>Registration</legend>
  <div class="form-pad">
    {{ form.label('Username','Username', {class: 'col-lg-2 control-label'}) }}
    <div class="col-lg-10">
     {{ form.text('username', old('username'), {class: "form-control" }) }}
    </div>
  </div>

  <div class="form-pad">
    {{ form.label('Email','E-mail', {class: 'col-lg-2 control-label'}) }}
    <div class="col-lg-10">
    {{ form.text('email', old('email'), {class: "form-control" }) }}
    </div>
  </div>

  <div class="form-pad">
    {{ form.label('Password','Password', {class: 'col-lg-2 control-label'}) }}
    <div class="col-lg-10">
    {{ form.password('password', '', {class: "form-control" }) }}
    </div>
  </div>

    <div class="form-pad">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>

  {{ form.close() }}
  </div>
{% endblock %}