

{% extends 'master' %}
{% set active_page = "showmovie" %}
{% from 'confirm.njk' import m as confirm %}

{% block content %}
<div class="panel-body">
<div class="panel panel-info">
  <div class="panel-heading">
      <button type="button" onclick="window.location.href='/movie/{{movie.id}}/reviews'" class="close">Reviews</button>
    <h3 class="panel-title"><strong> Title: {{ movie.title }} </strong></h3>
  </div>
  <div class="panel-body">
 <h2 class="centered"> Movie Information: </h2>
  <div class="info">
    <h4> Title: {{ movie.title }} </h4>
    <h4> Director: {{ movie.director }} </h4>
      <h4> Writers: {{movie.writer}}</h4>
        <h4> Stars: 
        {% for feature in features %}
        {% for actor in actors %}
        {% if actor.id == feature.actor_id %}
        {{ actor.first_name }} {{ actor.middle_name }} {{ actor.last_name }} , 
        {% endif %}
        {% endfor %}
        {% endfor %} others</h4>
    <h4> Origin: [{{movie.origin}}]</h4>
     <h4> Year of release: {{movie.release}}</h4>
   
  </div>
  <hr>
  <h2 class="centered"> Plot:</h2>
    <div class="textpart">
    {{ movie.plot }}
    </div>
    <hr>
    <div class="scores">
    <h3><strong>Average rating: {{ movie.rating }}% </strong></h3>
    </div>
    <hr>
    {% if adminaccess %}
    <p><a href="/modify_m/{{movie.id}}" class="btn btn-warning" >Modify</a> <a href="{{ 'movie_delete' | route({id: movie.id}) }}" class="btn btn-danger btn-xs btn-movie-delete" data-redirect="/movies" >Delete</a></p>
    {% endif %}
  </div>
</div>
 

</div>
{{ confirm() }}
{{ csrfField | safe }}
{% endblock %}
{% block scripts %}
<!-- buttons -->
<script src="/scripts/delete-handle.js"></script>
<script>
  $('.btn-movie-delete').on('click', btnMovieDelete_click)
</script>
{% endblock %}